body {
    color: #999;
}

.contents__wrapper {
    display: flex;
    justify-content: center;
}

.game__wrapper {
    display: flex;
}

.counters__wrapper {
    margin-left: 300px;
}

.grid__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    padding: 20px;
}

.grid__slot {
    display: flex;
    justify-content: center;
    background-color: #999;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.counters__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}